/bin/
/target/
src/main/resources/email.properties
src/main/resources/reddit.properties

src/main/resources/email-staging.properties

src/main/resources/email-local.properties

src/main/resources/email-production.properties

src/main/resources/persistence-local.properties

src/main/resources/persistence-production.properties

src/main/resources/persistence-staging.properties

src/main/resources/reddit-local.properties

src/main/resources/reddit-production.properties

src/main/resources/reddit-staging.properties

src/main/resources/web-local.properties

src/main/resources/web-production.properties

src/main/resources/web-staging.properties

src/test/resources/persistence-test.properties

src/main/resources/web-test.properties
