<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Schedule to Reddit</title>
<link rel="shortcut icon" type="image/png" th:href="@{/resources/favicon.png}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>

<div th:include="header (menuType=signupOnly)"></div>

<div class="container">
<h1>Schedule to Reddit</h1>

<h4 class="text-muted">
To Reddit is a simple system that allows you to <b>schedule out your Reddit posts.</b> <br/>
The goal is of course giving your posts the best chance to do well and get picked up by the community. 
<br/>
<br/>
There are some cool advanced features as well, for those few really important posts. <br/>
For example - if you're posting something super cool and important, but it doesn't pick up - have the system remove it and try it again in a few days. Cool stuff.
</h4>
<br/>
<br/>

<br/>
<div class="alert alert-info" th:if="${param.containsKey('msg')}" th:text="${param.msg[0]}">

</div>
<div class="alert alert-danger" th:if="${param.containsKey('error')}">
Invalid username or password
</div>
<div class="alert alert-warning" th:if="${param.containsKey('invalidSession')}">
Session timeout
</div>

<form method="post" th:action="@{/j_spring_security_check}" class="form-horizontal col-sm-6">
  <div class="form-group">
    <label for="username" class="control-label col-sm-3">Username</label>
    <div class="col-sm-9"><input class="form-control" id="username" name="username" placeholder="Username"/></div>
  </div>
  <div class="form-group">
    <label for="password" class="control-label col-sm-3">Password</label>
   <div class="col-sm-9"> <input type="password" class="form-control" id="password" name="password" placeholder="Password"/></div>
  </div>  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="forgetPassword">Forget Password?</a><button type="submit" class="btn btn-default pull-right">Login</button>
  <br/><br/>
  <br/><br/>
    <a th:href="@{/signup}" class="btn btn-primary pull-right">Sign up</a>
</form>
</div>
</body>
</html>